    @model MVC_JSTC.Models.MasterProductsModel

<!------------------------- THIS IS THE SEARCH BAR PARTIAL VIEW (ProductIndex) ----------------------------->

<!-------------- This is the background image for the search bar ------------->
    <nav class="navbar navbar-search navbar-expand-md d-flex flex-nowrap justify-content-between"
         style="background: url(../../Content/images/joole-navbar.jpg);">

        <!-- d-flex item 1: Keep empty DIV for d-flex, can be replaced with logo or nav menu, etc.-->
        <div></div>

        <!-------------- d-flex item 2: SEARCH BAR -------------->
        <!---- sends search string as "query" to Products/Search(query), returns partial view ---->
        <!-- TODO: Try to change the length of the search bar -->
        <div class="d-flex justify-content-center">
            @using (Ajax.BeginForm("Search", "Products", FormMethod.Post,
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "search-results"
                }))
            {
                <div>
                    @Html.TextBox("query", null, new { @class = "form-control mr-md-2", maxLength = "100" })
                    <input type="submit" value="Search" class="btn btn-outline-light">
                </div>
            }
        </div>

        <!------ d-flex item 3: This displays the user's icon ------>
        <img id="user" class="d-flex justify-content-end" src="~/Content/images/pusheen.jpg" alt="image">
    </nav> 

