
@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    min-height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-y: hidden;
}

a {
    text-decoration: none;
    color: #444444;
}

h2 {
    margin-bottom: 12px;
    margin-top: 5px;
}

#login-validation-results, 
    #reg-validation-results{
    border-left: 6px solid red;
    background-color: white;
    padding: 0px 0px 0px 5px;
}

.login-reg-panel {
    position: relative;
    top: 50%;
    text-align: center;
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    height: 450px;
}

.white-panel {
    background-color: #d9b8c175;
    height: 110%;
    display: inline-block;
    position: absolute;
    top: 23px;
    width: 50%;
    max-width: 350px;
    right: calc(50% - 50px);
    transition: .3s ease-in-out;
    z-index: 0;
    box-shadow: 0 0 15px 9px #5c4d633d;
    padding: 2px 0px 5px 0px;
}

.login-reg-panel input[type="radio"] {
    position: relative;
    display: none;
}


.login-reg-panel #label-login {
    border: 1px solid #f0f0f0d1;
    padding: 5px 5px;
    max-width: 150px;
    min-width: 80px;
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}
.login-reg-panel #label-register {
    border: 1px solid #f0f0f0d1;
    padding: 5px 5px;
    max-width: 150px;
    min-width: 80px;
    float: right;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.login-info-box {
    width: 30%;
    padding: 0 30px;
    top: 20%;
    left: calc(1%);
    position: absolute;
    text-align: right;
    color: #f0f0f0d1;
}

.register-info-box {
    width: 30%;
    top: 20%;
    right: calc(5%);
    position: absolute;
    text-align: left;
    color: #f0f0f0d1;
}

.right-log {
    right: 20% !important;
}
.field-validation-error{
    text-align:left;
    float:left;
    color:red;
}

.login-show,
.register-show {
    z-index: 1;
    display: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #ffffffb0;
    text-align: center;
    padding: 0px 40px 0px 40px;
    width:100%;
}



.show-log-panel {
    display: inline-block;
    opacity: 0.9;
    position:relative;
}

.column-right {
    display: inline-block;
    opacity: 0.9;
    float: right;
    width: 50%;
}

/* .login-show input[type="text"], .login-show input[type="password"] {*/
.login-show .form-input {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
}

.login-show input[type="Submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

.login-show a {
    display: inline-block;
    padding: 10px 0;
}

.register-show .form-input {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #b5b5b5;
    outline: none;
    text-align:center;
    display: inline-block;
}

.register-show input[type="Submit"] {
    max-width: 150px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
}

.credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #3B3B25;
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 99;
}

a {
    text-decoration: none;
    color: #2c7715;
}
